doctype html
html
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title International House of Cupcakes
      link(rel="stylesheet" type="text/css" href="stylesheets/application.css")
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

    body
      .container
        .eight.columns
          header.l-head-title
            h1 Cupcakes
            h2 Cakes for days

          //icon fonts
        .eight.columns
          section.i-top-fonts
            ul
              li
                a(href="#" class="icon-twitter" target="_blank")
              li
                a(href="#" class="icon-facebook" target="_blank")
              li
                a(href="#" class="icon-google-plus" target="_blank")
              li
                a(href="#" class="icon-pinterest" target="_blank")
              li
                a(href="#" class="icon-vimeo" target="_blank")

        //top border
        .sixteen.columns
          .l-border


        .eight.columns
          section.m-mid-lg-pic
            img(src="img/strawberrycupcake.png")

        .seven.columns
          section.m-mid-sm-pic
            img(src="img/strawberrycupcake.png")
            img(src="img/strawberrycupcake.png")


        //mid border
        .sixteen.columns
          .l-border

        //pic gallery
        .three.columns
          section.main-grid-pics
            ul
              li
                img(src="img/BEAUTY_strawberry-cupcakes-1.jpg")
                p yummy

              li
                img(src="img/BirthdayCupcakes.jpg")
                p yummy
              li
                img(src="img/BEAUTY_strawberry-cupcakes-1.jpg")
                p yummy

              li
                img(src="img/BEAUTY_strawberry-cupcakes-1.jpg")
                p yummy
        .three.columns
          section.main-grid-pics
            ul
              li
                img(src="img/ultimate-chocolate-cupcakes-38-600.jpg")
                p yummy
              li
                img(src="img/ultimate-chocolate-cupcakes-38-600.jpg")
                p yummy
              li
                img(src="img/vintage_cupcakes.jpg")
                p yummy
              li
                img(src="img/BEAUTY_strawberry-cupcakes-1.jpg")
                p yummy
        .three.columns
          section.main-grid-pics
            ul
              li
                img(src="img/BirthdayCupcakes.jpg")
                p yummy
              li
                img(src="img/BEAUTY_strawberry-cupcakes-1.jpg")
                p yummy
              li
                img(src="img/BEAUTY_strawberry-cupcakes-1.jpg")
                p yummy
              li
                img(src="img/ultimate-chocolate-cupcakes-38-600.jpg")
                p yummy
        .three.columns
          section.main-grid-pics
            ul
              li
                img(src="img/BEAUTY_strawberry-cupcakes-1.jpg")
                p yummy
              li
                img(src="img/vintage_cupcakes.jpg")
                p yummy
              li
                img(src="img/ultimate-chocolate-cupcakes-38-600.jpg")
                p yummy
              li
                img(src="img/ultimate-chocolate-cupcakes-38-600.jpg")
                p yummy
        .three.columns
          section.main-grid-pics
            ul
              li
                img(src="img/ultimate-chocolate-cupcakes-38-600.jpg")
                p yummy
              li
                img(src="img/ultimate-chocolate-cupcakes-38-600.jpg")
                p yummy
              li
                img(src="img/vintage_cupcakes.jpg")
                p yummy
              li
                img(src="img/BEAUTY_strawberry-cupcakes-1.jpg")
                p yummy

        //form border
        .sixteen.columns
          .l-border

        .sixteen.columns
          section.t-form-header
            h2 Want Updates, Cupcake?

            //form
        .sixteen.columns
          form.m-form-info
            ul
              li
                input(type="text" placeholder="First Name")
              li
                input(type="text" placeholder="Last Name")
              li
                input.f-contact(type="email" placeholder="your.email@example.com")
              li
                button.btn-form(type="submit") Submit





        //bottom border
        .sixteen.columns
          .l-bottom-border

        .sixteen.columns
          footer.l-foot
           p Ardon Bailey © 2014 • All Rights Reserved


    script(src="//localhost:35729/livereload.js")
