

.m-mid-lg-pic > img {
  width: 30em;
  height: 30em;
  margin-left: 5em;
}

//Large mid pic MQ's

@media screen and (max-width: 960px) {
  .m-mid-lg-pic > img  {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .m-mid-lg-pic > img  {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .m-mid-lg-pic > img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}



.m-mid-sm-pic > img {
  width: 18em;
  height: 14.8em;
}


//Small mid pic MQ's

@media screen and (max-width: 960px) {
  .m-mid-sm-pic > img  {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .m-mid-sm-pic > img  {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .m-mid-sm-pic > img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}


//main picture grid



.main-grid-pics ul li img {
  width: 10em;
  height: auto;
  padding: 1em;
}

.main-grid-pics ul li {
  margin: 0 auto;
}



//main grid picture MQ's

@media screen and (max-width: 960px) {
  .main-grid-pics ul li img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .main-grid-pics ul li img{
    width: 91%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .main-grid-pics ul li img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .main-grid-pics ul li img{
    width: 91%;
    height: auto;
    margin: 0 auto;
  }
}



